:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:white;
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}


header nav a:hover{
    color:#fff;
}

/*===================== FILMES PRINCIPAIS ===========================*/
.filme-resident{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/Capa_Res.jpg');

    height:400px;
    background-size:cover;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-grey{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/filme7ana1.jpg');

    height:400px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-gooddoctor{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa_good.jpg');

    height:600px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-gooddoctor .descricao{
    margin-bottom: 20px;
}

.filme-diariobanana{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa_diario.jpg');

    height:400px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-thewithcer{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa_thewitcher.jpg');

    height:400px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-simpson{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa_simpson.jpg');

    height:400px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-demonslayer{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa_demonslayer.jpg');

    height:400px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-flash{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa_flash.jpg');

    height:400px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-peakyblinders{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa_peaky.jpg');

    height:400px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-roudsix{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa_round.jpg');

    height:600px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-homemaranha{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa_homenaranha.jpg');

    height:600px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-venom{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa_venom.jpg');

    height:600px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-venom{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa_venom.jpg');

    height:600px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.filme-homemaranha_volta_ao_lar{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa_homemaranha_volta_ao_lar.jpg');

    height:600px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-aperseguicao{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa_aperseguicao.jpg');

    height:600px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


/* ============== FILMES FIM =========================*/

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    padding-bottom: 10px;
}


.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
}


.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 100%;
 
}

.box-filme{
    height: 80%;
    width: 80%;
    display: block;
    cursor: pointer;
}


.carrosel-filmes{
    margin-top:10px;
    height: auto;
}



















